<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I currently work as a Backend Software Engineer at <a class="underline-link" href="https://www.datadoghq.com/" target="_blank">Datadog</a> on the Revenue Query team, where I specialize in developing resilient backend systems for data ingestion and transformation. I handle large-scale datasets, migrating them from S3 into PostgreSQL, while also enhancing operational efficiency through automation and monitoring. My work involves leveraging technologies such as Python, Go, SQL, and cloud services to ensure the robustness and scalability of the systems we maintain.
    </p>
    <p>
      I earned my B.S. in Computer Science and Engineering from <a class="underline-link" href="https://www.mit.edu/" target="_blank">MIT</a>, where I developed a strong foundation in key areas of computer science, including algorithms, data structures, networking, and embedded systems. My coursework provided in-depth knowledge and hands-on experience in designing efficient solutions and building systems that integrate with hardware and networks. By tackling complex problems across these disciplines, I gained valuable skills in problem-solving, system design, and optimizing performance, preparing me for the diverse challenges of software engineering. This well-rounded education has allowed me to approach problems from multiple perspectives and build scalable, high-impact solutions.
    </p>
    <p>
      As a software engineer, I’m deeply passionate about optimizing backend architectures and crafting scalable, high-performance solutions. I continuously strive to apply my technical knowledge and problem-solving skills to create software that excels in both functionality and user experience. While my main expertise lies in backend development, I’ve also shown a strong interest in full-stack and mobile development through personal projects, internships, and coursework, always eager to build end-to-end solutions.
    </p>
  </div>
</section>